/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
#container {
	display: grid;
	grid-template-rows: auto 1fr 30px;
	grid-template-columns: 25% 25% 25% 25%;
	grid-auto-flow: column;
	height: 100vh;
	  
}

#header {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

#navigator {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #363636;
}

#details {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	background: #d6d1d1;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#footer {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
	background: #363636;
}

#dropdown {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	background: transparent;
	z-index: 40;
	margin-top: 5px;
	margin-left: 60px;
	margin-right: 5px;
}

.dropdownGesamt{
	background-color: transparent;
	min-height: 3.25rem;
	align-items: right;
	display: flex;
	position: relative;
	justify-content: flex-end;
	z-index: 40;
	box-sizing: inherit;
}

.dropdownButton {
	background: transparent;
	width: 160px;
	border-color: #363636;
	color: white;
	border-width: 1px;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(.375em - 1px);
	padding-left: .75em;
	padding-right: .75em;
	padding-top: calc(.375em - 1px);
	text-align: center;
	white-space: nowrap;
	-webkit-appearance: none;
	align-items: center;
	border-radius: 4px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.6em;
	position: relative;
	vertical-align: top;
	border: 1px solid;
	margin-top: 1px;

}

.menueBar {
	position: absolut;
	background: #363636;
	bottom: 200px;
	right: 200px;
	z-index: 40;
	align-items: right;
	
}
/** Styling des Headers*/
.headerGesamt {
	background-color: #363636;
	color: #fff;
	min-height: 3.5rem;
	align-items: stretch;
	display: flex;
	position: relative;
	z-index: 30;
	box-sizing: inherit;
}

.headerLinks {
	justify-content: flex-start;
	margin-right: auto;
	align-items: stretch;
	display: flex;
	box-sizing: inherit;
}

.headerLogo {
	align-items: stretch;
	display: flex;
	flex-shrink: 0;
	min-height: 3.5rem;
	box-sizing: inherit;
}

.headerLogoInput {
	display: flex;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	line-height: 1.5;
	padding: .5rem .75rem;
	position: relative;
	text-decoration: none;
}

.headerRechts {
	justify-content: flex-end;
	margin-left: auto;
	align-items: stretch;
	display: flex;
	box-sizing: inherit;
}

.headerRechtsElement {
	cursor: pointer;
	display: flex;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	color: #4a4a4a;
	line-height: 1.5;
	padding: .5rem .75rem;
	position: relative;
	box-sizing: inherit;
}

.headerImage {
	height: 16px;
	width: 16px;
	display: block;
	position: relative;
}

.suchenImage {
	height: auto;
	max-width: 100%;
}

.userButton.gwt-Button {
	background: transparent;
	border-color: #209cee;
	color: #209cee;
	border-width: 1px;
	cursor: pointer;
	border-width: 1px;
	justify-content: center;
	padding-bottom: calc(.375em - 1px);
	padding-left: .75em;
	padding-right: .75em;
	padding-top: calc(.375em - 1px);
	text-align: center;
	white-space: nowrap;
	-webkit-appearance: none;
	align-items: center;
	border-radius: 16px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;
}
/** Styling des Navigators*/
.navcontainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.navelement {
	text-align: center;
	color: white;
	margin: 10px;
	padding: 142px 0 142px 0;
}

.navButton.gwt-Button {
	background: transparent;
	border-color: #fff;
	color: #fff;
	border-width: 1px;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(.375em - 1px);
	padding-left: .75em;
	padding-right: .75em;
	padding-top: calc(.375em - 1px);
	text-align: center;
	white-space: nowrap;
	-webkit-appearance: none;
	align-items: center;
	border-radius: 16px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;
	position: relative;
	vertical-align: top;
	border: 1px solid;
}
/** Styling der UserForm*/
.detailsbox {
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 30%;
}

.detailsboxInahlt {
	margin-bottom: .75rem;
	box-sizing: inherit;
	display: block;
}

.detailsboxspeichern {
	margin-top: 1%;
	margin-bottom: 8%;
}

.detailsboxabmelden {
	margin-top: 20%;
	border-bottom: solid;
	border-top: solid;
	border-width: thin;
	margin-bottom: 5%;
	padding: 10px;
	
}

.detailsboxlöschen {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.nameTextBox {
	border-radius: 290486px;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #fff;
	border-color: #dbdbdb;
	max-width: 100%;
	width: 100%;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	display: inline-flex;
	font-size: 1rem;
	height: 2.50em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(.375em - 1px);
	padding-top: calc(.375em - 1px);
	position: relative;
	vertical-align: top;
}

.helpTextLabel {
	display: block;
	font-size: .75rem;
	margin-top: .25rem;
}

.speichernButton.gwt-Button {
	border-radius: 290486px;
	padding-left: 1em;
	padding-right: 1em;
	background: #23d160;
	border-color: transparent;
	color: #fff;
	border-width: 1px;
	justify-content: center;
	padding-bottom: calc(.375em - 1px);
	padding-top: calc(.375em - 1px);
	text-align: center;
	white-space: nowrap;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;
	line-height: 1.5;
	position: relative;
	vertical-align: top;
	cursor: pointer;
}
.abbrechenButton.gwt-Button {
	border-radius: 290486px;
	padding-left: 1em;
	padding-right: 1em;
	background: #ff3860;
	border-color: transparent;
	color: #fff;
	border-width: 1px;
	justify-content: center;
	padding-bottom: calc(.375em - 1px);
	padding-top: calc(.375em - 1px);
	text-align: center;
	white-space: nowrap;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;
	line-height: 1.5;
	position: relative;
	vertical-align: top;
	cursor: pointer;

	

	}

.mailLabel {
	margin-bottom: .5em;
	color: #363636;
	display: block;
	font-size: 1rem;
	font-weight: 700;
}

.title {
	color: #363636;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.125;
	word-break: break-word;
}

.löschenImage {
	height: 32px;
	width: 32px;
	cursor: pointer;

	
}

.papierkorb {
	height: auto;
	max-width: 100%;
}
/** Styling der DialogBox*/
.Abfrage {
	color: red;
}
/** Styling der DetailsForms*/
.detailscontainer {
	background-color: white;
	display: flex;
	flex-direction: column;
}

.detailsoben {
	background: #d6d1d1;
	text-align: center;
	color: black;
	margin-bottom: 3px;
	padding: 25px 0 25px 0;
}

.detailsunten {
	text-align: center;
	color: black;
	background: #d6d1d1;
}

.detailsuntenBoxen {
	display: flex;
	flex-direction: column;
	border-bottom: solid;
	border-color: #363636;
	border-width: thin;
	margin: 10px;
}

.speichernBox {
	margin-top: 3%;
}

.detailsBoxMitte {
	margin-left: 35%;
	margin-bottom: 15px;
	align-items: center;
	width: 30%;
}

.detailsBoxUnten {
	margin-bottom: 15px;
}

.detailsboxLabels {
	font-size: 1.25rem;
	margin-bottom: .5em;
	color:#363636;
	display: block;
	font-weight: 700;
}
/** Styling der GruppeErstellenForm*/
.gruppenameTB {
	background-color: #fff;
	border-color: #dbdbdb;
	color: #363636;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
	width: 100%;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 18px;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(.375em - 1px);
	padding-left: calc(.625em - 1px);
	padding-right: calc(.625em - 1px);
	padding-top: calc(.375em - 1px);
	position: relative;
	vertical-align: top;
}

.hinzufuegenButton.gwt-Button {
	background: #23d160;
	border-color: #23d160;
	color: #fff;
	border-radius: 4px;
	font-size: .75rem;
	border-width: 1px;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(.375em - 1px);
	padding-left: .75em;
	padding-right: .75em;
	padding-top: calc(.375em - 1px);
	text-align: center;
	align-items: center;
}

.entfernenButton.gwt-Button {
	background: transparent;
	border-color: #ff3860;
	color: #ff3860;
	border-radius: 4px;
	font-size: .75rem;
	border-width: 1px;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(.375em - 1px);
	padding-left: .75em;
	padding-right: .75em;
	padding-top: calc(.375em - 1px);
	text-align: center;
	align-items: center;
}
.homeBar {
	display: flex;
	width: 100%;
	justify-content: center;
	
}
.homeBarItem {
	margin-left: 10px;
	margin-right:10px;
}
.homeBarAnchor.gwt-Anchor {
	color: #363636;
	font-weight: bold;
}
.filternBox {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}
