@charset "UTF-8";

.cellTableHeader {
  border-bottom: 2px solid black;
  background-color:  #1f2833 !important;
  padding: 2px 15px;
  text-align: left;
  color: white;
  text-shadow: #1f2833 1px 1px 0;
  overflow: hidden;

}

.cellTableCell {
	padding: 2px 15px;
  	overflow: hidden;
	text-align: left;
}  


